<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="dez-piece-title">
  <template>
    <style>

    :host {
        flex: 1 4;
        min-width: 0; /* https://css-tricks.com/flexbox-truncated-text/ */
        white-space: nowrap;
        overflow: hidden;
        margin-right: 10px;
    }

    span.composer { font-size: smaller; margin-left: 1.5ex; margin-top: 3px; }

    </style>

    <div main-title class="main-title hidden-xs">
        [[_title]]
        <span class='composer hidden-md'>[[_composer]]</span>
    </div>

  </template>

  <script>

  class DezPieceTitle extends Polymer.Element {

      static get is() { return 'dez-piece-title'; }

      constructor () {
        super()
        this._title = "connecting..."
      }

      set piece (value) {
        this._title = value.title
        this._composer = value.composer
      }

  }

  window.customElements.define(DezPieceTitle.is, DezPieceTitle);

  </script>
</dom-module>
