<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="dez-open-file-button">
  <template>
    <style>
    </style>
    <input type="file" id="fileInput" on-change="_onFileInputChange" hidden>
    <paper-icon-button icon="file-download" title="load analysis from your computer (.dez)"></paper-icon-button>
  </template>

  <script>
    /**
     * `dez-open-file-button`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class DezOpenFileButton extends Polymer.Element {

      static get is() { return 'dez-open-file-button'; }

      openDialog () {
        this.$.fileInput.value = '';
        this.$.fileInput.click();
      }

      _onFileInputChange(event) {
        let reader = new FileReader();
        var file = event.target.files[0]
        
        reader.onload = (() => event => {
          this.dispatchEvent(new CustomEvent(
            'file-loaded',
            {
              detail : {
                content: event.target.result,
                name: file.name
              }
            }
          ))
        })();
        reader.readAsText(file);
      }

    }

    window.customElements.define(DezOpenFileButton.is, DezOpenFileButton);
  </script>
</dom-module>
